@charset "utf-8";

// Import the Poppins font from Google
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$primary: rgb(93, 77, 151);
$info: lighten($primary, 17%);
$card-color: $black-themed;
$card-background-color: lighten($white-themed, 5%);
$card-shadow: 0 0 0 0 transparent;
$table-color: $black-themed;
$table-background-color: transparent;
$table-cell-padding: 0.25em 0.25em;
$radius-small: 6px;
$radius: 10px;
$radius-large: 14px;
$card-radius: $radius;
$border: $black-themed;
$footer-background-color: $primary;
$footer-color: white;

// Import necessary Bulma components
@import "../../node/node_modules/bulma/sass/utilities/_all.sass";
@import "../../node/node_modules/bulma/sass/base/_all.sass";
@import "../../node/node_modules/bulma/sass/helpers/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/title.sass";
@import "../../node/node_modules/bulma/sass/layout/hero.sass";
@import "../../node/node_modules/bulma/sass/layout/section.sass";
@import "../../node/node_modules/bulma/sass/grid/columns.sass";
@import "../../node/node_modules/bulma/sass/elements/container.sass";
@import "../../node/node_modules/bulma/sass/elements/other.sass";
@import "../../node/node_modules/bulma/sass/elements/content.sass";
@import "../../node/node_modules/bulma/sass/form/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/button.sass";
@import "../../node/node_modules/bulma/sass/components/card.sass";
@import "../../node/node_modules/bulma/sass/elements/table.sass";
@import "../../node/node_modules/bulma/sass/layout/footer.sass";